git/local
git/GitTry
vim/mynvimconfig/
haskell/*!(hs)
# !haskell/**hs

# Ignoring Test files
**/test/

# Ignore for CMake
**/CMakeFiles/
**/build/

# Ignoring executables
*/*.out
*.o
# Ignore for Tex auxilary files
*aux
*.gz
*latexmk
*fls
*fdb_latexmk
*synctex.gz
*blg
*log
*out
*toc
*nav
*snm
*vrb
*synctex.gz
*bcf
*xml
*bbl

# Ignoring node_modules
**/node_modules
*.json

# Ignoring Homeworks
*/handin

# Ignoring 3rd party libraries
gfx/glut/Include/
gfx/glut/Common/*
