git/local
git/GitTry
vim/**
haskell/**
!haskell/**hs
**/CMakeFiles/
**build/
**/*.out
**aux
**.gz
**latexmk
**fls
**fdb_latexmk
**synctex.gz
**blg
**log
**out
**toc
**nav
**snm
**vrb
**synctex.gz
**bcf
**xml
**bbl
**/handin
**/gfx/glut/Include/
